body
{
    text-align:center;
    background-color:whitesmoke;
}
h3{

    font-family:BOLD; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:black;
  }
table tr td 
{
      border: 1px solid black;
      border-collapse: collapse; 
      padding: 10px;

}  
img
{
  width: 75px;
}
.inputstyle,textarea
{
  width: 100%;
}
